
        .body-initial {
            background-color: rgba(0, 0, 0, 1);
        }
        
        .silex-id-1510196570770-1 {
            width: 607px;
            min-height: 110px;
            top: 224px;
            left: 55px;
        }
        
        .silex-id-1510196622197-2 {
            width: 868px;
            min-height: 116px;
            top: 220px;
            left: 821px;
        }
        
        .silex-id-1510196674832-3 {
            width: 607px;
            min-height: 110px;
            top: 497px;
            left: 54px;
        }
        
        .silex-id-1510196753894-6 {
            width: 603px;
            min-height: 319px;
            top: 563px;
            left: 73px;
        }
        
        .silex-id-1510196753039-5 {
            width: 607px;
            min-height: 110px;
            top: 582px;
            left: 832px;
        }
        
        .silex-id-1510196556201-0 {
            width: 674px;
            min-height: 67px;
            top: 57px;
            left: 489px;
        }
    